<div class="container">
  <h1>Add Random Objects To a Normal Queue</h1>
  <button class="btn add" (click)="addItemToTheQueue()">Add to the Queue</button>
  <button class="btn remove" (click)="removeItemFromQueue()">Remove from the Queue</button>
  <hr>
  <h1>Add Random Objects To a Priority Queue</h1>
  <button class="btn add" (click)="addItemToThePriorityQueue()">Add to the Priority Queue</button>
  <button class="btn remove" (click)="removeItemFromPriorityQueue()">Remove from Priority Queue</button>
</div>

<hr>

<div class="selected-queue-item">
  <div *ngIf="selectedSimpleQueueItem" class="simple-queue">
    Simple Selected Item is 
    <p>Id: {{selectedSimpleQueueItem.id}}</p>
    <p>Name: {{selectedSimpleQueueItem.name}}</p>
  </div>
  <div *ngIf="selectedPriorityQueueItem" class="priority-queue">
    priority Selected Item is 
    <p>Id: {{selectedPriorityQueueItem.id}}</p>
    <p>Name: {{selectedPriorityQueueItem.name}}</p>
    <p>Priority: {{selectedPriorityQueueItem.priority}}</p>
  </div>
</div>