<div class="container">
  <h1>Add and update an object properties</h1>
  <div>
    <div class="inputs-container">
      <label class="label-text">
        <input [value]="userObject.firstName" type="text"  name="firstName" placeholder="First Name" tabindex="1" (keyup)="changeFirstName($event)"/>
      </label>
      <br>
      <label class="label-text">
        <input [value]="userObject.lastName" type="text" name="lastName" placeholder="Last Name" tabindex="1" (keyup)="changeLastName($event)"/>
      </label>
      <br>
      <label class="label-text">
        <input [value]="userObject.age" type="number" name="age" placeholder="Age" tabindex="1" (change)="changeAge($event)" (keyup)="changeAge($event)"/>
      </label>
      <br>
      <label class="label-text">
        <input [value]="userObject.email" type="text" name="email" placeholder="Email" tabindex="1" (keyup)="changeEmail($event)"/>
      </label>
      <br>
    </div>
    <span>
      <button  class="btn add" (click)="addNewObject()">Add New Object</button>
      <button  class="btn update" (click)="updatePartially()">Update Partially</button>
      <button  class="btn remove" (click)="removeObject()">Remove the Object</button>
    </span>
  </div>
</div>
