*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1{
  margin: 30px;
}
.counter{
  width: 30%;
  display: flex;
  justify-content: center;
}
.increment-btn, .decrement-btn, .reset{
  height: 50px;
  width: 120px;
  padding: 0 40px;
  border-radius: 10px;
  font-size: 40px;
  background-color: #2e8d46;
  border: 2px solid #2e8d46;
  color: white;
  margin: 20px;
  cursor: pointer;
}
.reset{
  font-size: 20px;
}
.counter-value{
  height: 50px;
  min-width: 200px;
  border-radius: 10px;
  background-color: rgba(255, 0, 0, 0.187);
  margin-top: 20px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-text{
  border-color: lightgray;
  margin-top: 20px;
}

input {
  border: 1px solid lightgray;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  height: 2.25rem;
  line-height: 1.25rem;
  margin-top: 0.25rem;
  order: 2;
  padding: 0.25rem 0.5rem;
  width: 15rem;
  transition: all 0.25s;
}

hr.dotted {
  border-top: 1px dotted;
  border-bottom: none;
 }