<div class="header">
  <div class="header-left">
    <a routerLinkActive="active" [routerLink]="['/primitive']">Primitive</a>
    <a routerLinkActive="active" [routerLink]="['/entity-array']">Entity-Array</a>
    <a routerLinkActive="active" [routerLink]="['/entity-object']">Entity-Object</a>
    <a routerLinkActive="active" [routerLink]="['/queue']">Queue</a>
    <a routerLinkActive="active" [routerLink]="['/stack']">Stack</a>
  </div>
</div>
<div class="content">
  <div class="left">
    <router-outlet></router-outlet>
  </div>
  <div class="right">
    <div *ngIf="currentRoute === '/primitive'">
      <p>Counter : {{rsmPrimitiveState().counter}}</p>
      <p>Text : {{rsmPrimitiveState().text}}</p>
    </div>
    <div *ngIf="currentRoute === '/entity-array'" >
      <h3>Array size : {{arraySize()}}</h3>
      <div class="array">
        <div class="array-item" *ngFor="let item of rsmEntityState().arraySample">
          <p>id: {{item.id}}</p>
          <p>name: {{item.name}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="currentRoute === '/entity-object'" >
      <div class="object">
          <p>First Name: {{rsmEntityState().objectSample['firstName']}}</p>
          <p>Last Name: {{rsmEntityState().objectSample['lastName']}}</p>
          <p>Age: {{rsmEntityState().objectSample['age']}}</p>
          <p>Email: {{rsmEntityState().objectSample['email']}}</p>
      </div>
    </div>
  </div>
</div>